<a href="/" aria-label="Home page"><svg viewBox="0 0 153 90" fill="none">
  <path
    d="M29.2645 90L0.5925 0.399994H31.6965L54.8645 76.048H39.2485L63.8245 0.399994H91.6005L114.513 76.048H99.5365L123.729 0.399994H152.401L123.729 90H91.3445L72.6565 28.048H81.3605L61.6485 90H29.2645Z"
    fill="#393E46"></path>
</svg>
</a>
<style>
  svg {
    width: calc(20 * var(--unit-fx));
    height: auto;
  }
</style>
