.dock__container {
  background-color: var(--background-color);
  border-radius: calc(40 * var(--unit-fx));
  border: calc(1 * var(--unit-fx)) solid var(--dock-border);
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 50%;
  padding: calc(8 * var(--unit-fx)) calc(5 * var(--unit-fx));
  position: fixed;
  transform-origin: center;
  transform: translate(-50%, -50%);
  width: max-content;
  z-index: 1;
}

.dock {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.dock__item {
  align-items: center;
  background: var(--dock-icon);
  border-radius: calc(20 * var(--unit-fx));
  border: calc(1 * var(--unit-fx)) solid var(--dock-icon-border);
  display: flex;
  height: calc(44 * var(--unit-fx));
  justify-content: center;
  position: relative;
  transform-origin: bottom;
  transform: scale(1);
  transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
  width: calc(44 * var(--unit-fx));
}

.dock__item__link__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  svg {
    color: var(--secondary-color);
    height: calc(22 * var(--unit-fx));
    width: calc(22 * var(--unit-fx));
  }
}

.dock__item__link__wrap.social svg {
  height: calc(16 * var(--unit-fx));
  width: calc(16 * var(--unit-fx));
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  .dock__item {
    height: calc(52 * var(--unit-fx));
    width: calc(52 * var(--unit-fx));
  }

  .dock__item__link__wrap {
    svg {
      height: calc(28 * var(--unit-fx));
      width: calc(28 * var(--unit-fx));
    }
  }

  .dock__item__link__wrap.social svg {
    height: calc(22 * var(--unit-fx));
    width: calc(22 * var(--unit-fx));
  }
}
